body{
    

}
.proInfo {
    display: flex;
    flex-direction: column;
   padding-bottom:35px;
   margin-top: 20px;
   align-content: center;
   justify-content: space-between;
   
} 
.project {
    display: flex;
    flex: row;
    align-content: center;
    justify-content: space-between;
    padding:20px;
    margin-top: 35px;
   
    background-color:#8D8D8D;
    transition: transform 450ms;
    &:hover {
        transform: scale(1.13);
        #para {
            color: white;
        }
    }
}

.ExImg {
    margin-right: 5px;
}

h3 {
    color: white;
}